/** TODO - Work in progress: complete style rewrite **/

/** General **/
.wpTrivia_content {
    font-family: Helvetica;
}
.wpTrivia_content .wpTrivia_quiz .wpTrivia_list {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}
/** //General **/

/** Quiz progress bar **/
.wpTrivia_quiz_progress_bar_container {
    background-image: linear-gradient(to bottom,#ebebeb 0,#d8d8d8 100%);
}
.wpTrivia_quiz_progress_bar {
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.wpTrivia_quiz_progress {
    margin-top: 20px;
    border-bottom: 0;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step  {
    padding:  0;
    position:  relative;
    width: 45px;
    float: left;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step .wpTrivia_quiz_progress-info  {
    color:  #999;
    font-size:  14px;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_dot  {
    position:  absolute;
    width:  24px;
    height:  24px;
    display:  block;
    background:  #000;
    top:  25px;
    left:  50%;
    margin-top:  -15px;
    margin-left:  -15px;
    border-radius:  50%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_dot:after  {
    content: '';
    width: 12px;
    height: 12px;
    background:  #000;
    color: #fff;
    position:  absolute;
    background-repeat: no-repeat;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_dot.correct:after {
    background-image: url('../img/correct-answer.png');
    top: 7px;
    left: 7px;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_dot.wrong:after {
    background-image: url('../img/wrong-answer.png');
    top: 8px;
    left: 8px;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_bar_container  {
    position:  relative;
    height:  2px;
    box-shadow:  none;
    margin:  22px 0;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step > .wpTrivia_quiz_progress_bar_container > .wpTrivia_quiz_progress_bar  {
    width: 0;
    box-shadow:  none;
    background:  #000;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.complete > .wpTrivia_quiz_progress_bar_container > .wpTrivia_quiz_progress_bar  {
    width: 100%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.active > .wpTrivia_quiz_progress_bar_container > .wpTrivia_quiz_progress_bar  {
    width: 50%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step:first-child.active > .wpTrivia_quiz_progress_bar_container > .wpTrivia_quiz_progress_bar  {
    width: 0%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step:last-child.active > .wpTrivia_quiz_progress_bar_container > .wpTrivia_quiz_progress_bar  {
    width:  100%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.active > .wpTrivia_quiz_progress_dot  {
    background-color: #fff;
    border: 2px solid #000;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.active > .wpTrivia_quiz_progress_dot:after {
    opacity: 0;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.disabled > .wpTrivia_quiz_progress_dot  {
    background-color: #fff;
    border: 2px solid #d8d8d8;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.disabled > .wpTrivia_quiz_progress_dot:after  {
    opacity:  0;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step:first-child  > .wpTrivia_quiz_progress_bar_container  {
    left:  50%;
    width:  50%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step:last-child  > .wpTrivia_quiz_progress_bar_container  {
    width:  50%;
}
.wpTrivia_quiz_progress > .wpTrivia_quiz_progress_step.disabled a.wpTrivia_quiz_progress_dot {
    pointer-events:  none;
}
/** //Quiz progress bar **/

/** Questions **/
.wpTrivia_content .wpTrivia_progress_header {
    text-transform: uppercase;
    font-size: 14px;
}
.wpTrivia_content .wpTrivia_progress_header span:first-child,
.wpTrivia_content .wpTrivia_progress_header span:nth-child(3) {
    font-weight: 700;
}
.wpTrivia_content .wpTrivia_question_text p {
    text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
    font-weight: 700;
    text-align: center;
}
.wpTrivia_content .wpTrivia_question_image {
    border: 1px solid #dbdbdb;
    margin-top: 30px;
}
.wpTrivia_content .wpTrivia_question_image img {
    margin: 0;
}
.wpTrivia_content .wpTrivia_answersList {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wpTrivia_content .wpTrivia_answersListItem {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}
.wpTrivia_content .wpTrivia_answersListItem .wpTrivia_answerInput_singleMulti {
    width: 100%;
    text-align: center;
}
.wpTrivia_content .wpTrivia_answersListItem .wpTrivia_answerInput_singleMulti.selected {
    border: 2px solid #c8c721;
    background: #c8c721;
}
.wpTrivia_content .wpTrivia_answersListItem .wpTrivia_answerInput_singleMulti.correct {
    border: 2px solid #32c769;
    background: #32c769;
}
.wpTrivia_content .wpTrivia_answersListItem .wpTrivia_answerInput_singleMulti.missing-correct {
    border: 2px solid #32c769;
    background: #32c769;
    opacity: .5;
}
.wpTrivia_content .wpTrivia_answersListItem .wpTrivia_answerInput_singleMulti.wrong {
    border: 2px solid #e40038;
    background: #e40038;
}
.wpTrivia_content .wpTrivia_answerInput_singleMulti, .wpTrivia_content .wpTrivia_button, .wpTrivia_contentList .wpTrivia_button {
    cursor: pointer;
    background: #000;
    height: 48px;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #000;
    font-size: 15px;
}
.wpTrivia_content .wpTrivia_listItem:not(.solved) .wpTrivia_answersList .wpTrivia_answerInput_singleMulti:not(.selected):hover {
    color: #000;
    background: #fff;
}
.wpTrivia_content .wpTrivia_button.check {
    display: block;
    margin: 0 auto;
    min-width: 150px;
}
.wpTrivia_content .wpTrivia_button.prev, .wpTrivia_content .wpTrivia_button.next {
    display: none;
    width: 50px;
    height: 50px;
}
.wpTrivia_content .wpTrivia_button.prev {
    top: calc(50% - 50px);
    position: absolute;
    left: 20px;
}
.wpTrivia_content .wpTrivia_button.next {
    top: calc(50% - 50px);
    position: absolute;
    right: 20px;
}
.wpTrivia_content .wpTrivia_button.prev img, .wpTrivia_content .wpTrivia_button.next img {
    width: 12px;
    margin: calc(50% - 10px) auto auto;
}
.wpTrivia_content .wpTrivia_button.prev:hover, .wpTrivia_content .wpTrivia_button.next:hover {
    background-color: #fff;
}
.wpTrivia_content .wpTrivia_button.prev:hover img, .wpTrivia_content .wpTrivia_button.next:hover img {
    filter: invert(100%);
}
/** //Questions **/

/** Final Page **/
.wpTrivia_content .wpTrivia_finalPage {
    min-height: 200px;
}
.wpTrivia_content .wpTrivia_finalPage img {
    width: auto;
}
/** //Final Page **/


/** List Page **/
.wpTrivia_contentList .wpTrivia_quizPreview{
	width: 33%;
    float: left;
	box-sizing: border-box;
	padding: 10px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizImg{
	position: relative;
	width: 280px;
	height: 190px;
	margin-bottom: 20px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizText{
	height: 125px;
	margin-bottom: 25px;
	font-family: "MiniSerif", "Times New Roman", serif;
	font-size: 18px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizText h2{
	font-size: 22px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 10px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizText h5{
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizText p {
	margin: 0px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_button{
	display: inline-block;
	box-sizing: border-box;
	min-width: 95px;
	background-color: #03a9db;
	text-align: center;
	padding: 12px 25px;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
	font-family: "MiniSansSerif", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	font-size: 15px;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_button.inactive{
	background-color: #cfcfcf;
	cursor: inherit;
}
.wpTrivia_contentList .wpTrivia_quizPreview .wpTrivia_quizImg .verb-points {
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    padding: 10px 40px 10px 10px;
    line-height: 1;
    background-position: right 5px center;
    z-index: 1;
}

/** // List Page **/